<nav class="navbar navbar-default navbar-custom role=navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a type="button" class="btn navbar-btn" (click)="toggleAdd()">Add recipe</a>
              </li>
              <li *ngFor="let recipe of recipes">
                  <a type="button" class="btn navbar-btn" href="recipe/{{recipe._id}}" >{{recipe.title}}</a>
              </li>
            </ul>
          </div>
    </div>
</nav>
<div *ngIf=isAdded>
    <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="form-container">
      <div class="row columns">

        <h1 class="center-block">Add recipe <small>(All fields required)</small></h1>
        <div class="center-block">
        <label>Name:</label><br>
          <input type="text" formControlName="title">  
        <div class="alert" *ngIf="!rForm.controls['title'].valid && rForm.controls['title'].touched">This field is required</div>
    </div>

    <div class="center-block">
        <label class="label-custom">Description:</label><br>
          <textarea formControlName="description"></textarea>   
        <div class="alert" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">This field is required</div>
    </div>

    <div class="center-block">
        <label class="label-custom">Ingredients:</label><br>
          <textarea formControlName="ingredients"></textarea>
        <div class="alert" *ngIf="!rForm.controls['ingredients'].valid && rForm.controls['ingredients'].touched">This field is required</div>
    </div>
    
    <div class="center-block">
        <label class="label-custom">Preparing:</label><br>
          <textarea formControlName="preparing"></textarea>
        <div class="alert" *ngIf="!rForm.controls['preparing'].valid && rForm.controls['preparing'].touched">This field is required</div>
    </div>

    <div class="center-block">
        <label class="label-custom">Image:</label><br>
          <textarea placeholder="URL of image" formControlName="image"></textarea>
        <div class="alert" *ngIf="!rForm.controls['image'].valid && rForm.controls['image'].touched">This field is required</div>
    </div>

    <div class="center-block">    
        <input type="submit" class="button expanded" value="Add" [disabled]="!rForm.valid">
    </div>

    </div>
    </div>
  </form>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
  
